<mat-card *ngFor="let dataitem of CompList">
    <mat-card-header class="row">
        <mat-card-title class="title" class="col-md-6">
            <p>{{dataitem.CName}} ({{dataitem.CSymbol}})</p>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="col">
        <div class="row-12 d-flex text-center">
            <div class="col-4 ">
                <p class="head">Total Unit</p>
                <p class="value">{{dataitem.CQty}}</p>
            </div>
            <div class="col-4 ">
                <p class="head">Sold Unit</p>
                <p class="value">{{dataitem.SoldUnit}}</p>
            </div>
            <div class="col-4">
                <p class="head">Total Investment</p>
                <p class="value">Rs {{dataitem.CInvestment|number : '1.2-2'}}</p>
            </div>
        </div>
        <div class="row-12 d-flex text-center">
            <div class="col-4 ">
                <p class="head">Current Value</p>
                <p class="value">Rs {{dataitem.WACC*dataitem.CQty|number : '1.2-2'}}</p>
            </div>
            <div class="col-4 ">
                <p class="head">Total Receivable Amount</p>
                <p class="value">Rs {{dataitem.SoldValue |number : '1.2-2'}}</p>
            </div>
            <div class="col-4">
                <p class="head">WACC</p>
                <p class="value">Rs {{dataitem.WACC|number : '1.2-2'}} </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <p class="head">Profite/Loss</p>
                <p class="value">Rs {{dataitem.ProfitLoss| number : '1.2-2'}}</p>
            </div>
        </div>
    </mat-card-content>
</mat-card>
