:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mat-drawer{
    width: 250px;
    background-color: rgb(38, 72, 112);
}
.mat-drawer-container{
    height: 100% ;
    background-color: rgb(38, 72, 112);
}