.page{
    color: #f1f5f9;
    padding: 0 1rem;
    background: #f1f5f9;
    &__box{
        min-height: 100px;
        background: rgb(38, 72, 112);
        margin: 0 -1rem;
        font-size: 36px;
    }
    &__content{
        min-height: calc(100vh - 150px);
        border-radius: 5px;
        margin-top: -1.5rem;
        color: #1e2923;
        background-color: #f1f5f9;
        font-size: 2rem;
        &-data{
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}

.grid{
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    width: 100%;
}

@media (max-width:768px) {
    .grid{
        grid-template-columns: repeat(2,1fr);
    } 
}

@media (max-width:500px) {
    .grid{
        grid-template-columns: repeat(1,1fr);
    } 
    .row{
        display: inline;
    }


}