<mat-nav-list>
    <div class="logo py-4">
        <!-- <img src="../../assets/logo1.png" alt="Logo"> -->
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
    <mat-icon>dashboard</mat-icon>
    Dashboard
    </a>
    <a mat-list-item routerLink="/Transaction" routerLinkActive="list-item-active">
        <mat-icon>edit</mat-icon>
       Transaction
    </a>
    <a mat-list-item routerLink="/AvlStock" routerLinkActive="list-item-active">
        <mat-icon>list</mat-icon>
       Stock Available
    </a>
    
    <a mat-list-item >
        <mat-icon>logout</mat-icon>
       Logout
    </a>
</mat-nav-list>